// font variables
$font:          'GothamNarrow', sans-serif;
$font_title:	'Gotham', sans-serif;

// color variables
$normal:		#000;
$action: 		#ffde13;
$link:			#007db5;
$light_grey:	#ececec;
$medium_grey:	#9a9a9a;
$dark_grey: 	#2f2f2f;
$white: 		#fff;
$fb_color:		#3a589a;
$tw_color:		#059ff5;
$li_color:		#0076b8;
$white_grey:	#F1F1F1;



 



 

